/*开始动画的css属性*/
.detail-enter {
  opacity: 0;
  transform: translate(0,100%);
}
/*结束动画的css属性,要和原有样式一致*/
.detail-enter.detail-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 200ms linear, transform 200ms ease-out;
}

.detail-leave {
  opacity: 1;
  transform:translate(0,0)
}

.detail-leave.detail-leave-active {
  opacity: 0.01;
  transform:translate(0,100%);
  transition: opacity 200ms linear, transform 200ms ease-out;
}
